.Home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../../image_files/couple_on_beach.jpg);
  background-position: center; 

}

.loop{
  margin-top: 50px;
}

.statement {
  text-shadow: 0px 0px 10px rgba(255,255,255,100%);
}

#app-logo {
  width: 15%;
  height: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoName {
  display: flex;
}
body {
  background-color: rgb(78, 78, 78);
}

.titleName > h1 {
  color: #ff6a6a;
  font-family: "Great Sailor";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  float: left;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.titleName > h3 {
  font-family: "Great Sailor";
  font-style: normal;
  color: #68a38d;
  float: right;
  padding-bottom: 3%;
  margin-bottom: 0px;
}

.titleName {
  display: flex;
  align-items: flex-end;
  padding-bottom: 3%;
}

.buttons {
  display: flex;
  column-gap: 10px;
  margin-right: 3%;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.body > h2 {
  text-align: center;
}
