.heading > img {
  border-radius: 50%;
  width: 10%;
  margin-left: 2%;
}

.MainPage h3 {
  text-decoration: underline;
  margin-left: 4%;
}
.heading > h1 {
  margin-right: 35%;
  font-family: "Dongle", "Times New Roman", Times, serif;
  color: rgb(21, 97, 21);
  font-size: 6em;
  margin-bottom: -1%;
}
.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.userList {
  display: flex;
  flex-flow: column;
  align-items: center;
  row-gap: 15px;
}

.EditProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formHeader {
  font-family: "Dongle", "Times New Roman", Times, serif;
  font-style: normal;
  text-decoration: underline;
  font-size: 4em;
  margin-bottom: -5%;
}

.editForm {
  display: flex;
  flex-direction: column;
  width: 25em;
}
.editForm label {
  display: flex;
  flex-direction: column;
}
#userName {
  height: 2.5em;
  border-radius: 15px;
}
#personality {
  height: 2.5em;
  border-radius: 15px;
}
#linkToImage {
  height: 2.5em;
  border-radius: 15px;
}

.EditProfile img {
  border-radius: 50%;
  height: 10em;
  margin-bottom: 3%;
}

.EditProfile img:hover {
  border: dashed rgb(28, 163, 28);
}
