.formSignUp{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.formHeaderSignUp{
    font-family: "Great Sailor";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

.signInButton{
    position: fixed;
    right: 0px;
    margin-right: 4%;
    margin-top: 1%;
}