.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#app-logo {
  width: 15%;
  height: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoName {
  display: flex;
}
body {
  background-color: #ffffff;
}

.titleName > h1 {
  color: #ff5353;
  font-family: "Great Sailor";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  float: left;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.titleName > h3 {
  font-family: "Great Sailor";
  font-style: normal;
  color: #2e6953;
  float: right;
  padding-bottom: 3%;
  margin-bottom: 0px;
}

.titleName {
  display: flex;
  align-items: flex-end;
  padding-bottom: 3%;
}

.buttons {
  display: flex;
  column-gap: 10px;
  margin-right: 3%;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.body > h2 {
  text-align: center;
}
